.titulo
{
    background-color: darkgray;
    height: auto;
    padding: 3rem;
}
h1
{
    color:rgb(42, 2, 134);
}


.navegador
{
    display: flex;
    justify-content: start;
    background-color: rgb(42, 2, 134);
    padding: 1.5rem;
}
.link
{
    color: tomato;
}